@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Karla:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

$ephesis: 'Ephesis';
$karla: 'Karla';

$font-family-sans-serif: $karla;
$headings-font-family: $ephesis;